<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/option/updateRingSertis}"
				method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						METTRE A JOUR SERTIS BAGUE <span style="font-size: small"></span><br />
						<h4>Un * indique les champs obligatoires</h4>
					</legend>
					<input hidden="hidden" name="id" th:value="${ringSertis.id}" />

					<div class="form-group" hidden="hidden">
						<label class="col-md-2 control-label" for="title">* Sertis
							bague</label>
						<div class="col-md-8">
							<input type="text" name="typeStones" class="form-control"
								id="typeStones" th:value="${ringSertis.typeStones}"
								required="required" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="price"> Prix
							(EYR)</label>
						<div class="col-md-8">
							<input th:value="${ringSertis.price}" type="number" name="price"
								step="0.01" class="form-control" id="price" min="0"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Déscription</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${ringSertis.description}"
								th:text="${ringSertis.description}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Ajouter</button>
							<a class="btn btn-danger"
								th:href="@{/option/ringSertisList(id=${ringSertis.id})}">Annuler</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
