<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Gestion Bijoux En Ligne</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link href="/css/non-responsive.css" rel="stylesheet" />

<script
	src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector : 'textarea'
	});
</script>
</head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Gestion de commandes<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/orders}">Commandes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">AJOUTEZ BIJOUX A VENDRE <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/ready/addRingSimpleReady}">Bagues</a></li>
								<li><a th:href="@{/ready/addAllianceReady}">Alliances</a></li>
								<li><a th:href="@{/ready/addEarringsReady}">Boucles
										d'Oreilles</a></li>
								<li><a th:href="@{/ready/addNecklaceReady}">Collier</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">CATALOGUE BIJOUX A VENDRE <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/ready/ringSimpleReadyList}">Bagues</a></li>
								<li><a th:href="@{/ready/allianceReadyList}">Alliances</a></li>
								<li><a th:href="@{/ready/earringsReadyList}">Boucles
										d'Oreilles</a></li>
								<li><a th:href="@{/ready/necklaceReadyList}">Collier</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">AJOUTEZ OPTIONS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/option/addGold}">Gold</a></li>
								<li><a th:href="@{/option/addRingSertis}">Sertis bague</a></li>
								<li><a th:href="@{/option/addStone}">Pierre</a></li>
								<li><a th:href="@{/option/addProfil}">Profil alliance</a></li>
								<li><a th:href="@{/option/addChain}">Chaîne</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">CATALOGUE OPTIONS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/option/goldList}">Gold</a></li>
								<li><a th:href="@{/option/ringSertisList}">Sertis bague</a></li>
								<li><a th:href="@{/option/stoneList}">Pierre</a></li>
								<li><a th:href="@{/option/profilList}">Profil alliance</a></li>
								<li><a th:href="@{/option/chainList}">Chaîne</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/logout}">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootbox.min.js}"></script>
		<script th:src="@{/js/scripts.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>