<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<legend class="center-block">
			CARACTERISTIQUES COLLIER<span style="font-size: small"></span>
		</legend>
		<div class="table-responsive">
			<table id="necklaceReadyListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllNecklaceReady" type="checkbox" /></th>
						<th>Image</th>
						<th>Titre</th>
						<th>Prix(EUR)</th>
						<th>Stock</th>
						<th>Déscription</th>
						<th>Mise à jour</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="necklaceReady : ${necklaceReadyList}">
						<div th:if="${necklaceReady.title != null}">

							<td><input hidden="hidden" name="id"
								th:value="${necklaceReady.id}" /> <input
								th:id="'selected'+${necklaceReady.id}"
								class="checkboxNecklaceReady" type="checkbox" /></td>

							<td class="col-xs-1"><img
								th:src="@{/image/product/}+${necklaceReady.id}+'.png'"
								class="img-responsive" /></td>

							<td><span th:text="${necklaceReady.title}"></span></td>
							<td th:text="${necklaceReady.price}"></td>
							<td th:text="${necklaceReady.stock}"></td>
							<td th:utext="${necklaceReady.description}"></td>
							<td><a
								th:href="@{/ready/updateNecklaceReady?id=}+${necklaceReady.id}">
									<i class="fa fa-pencil-square" aria-hidden="true"></i>
							</a></td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
		<button th:id="deleteSelectedNecklaceReady" class="btn btn-danger ">Supprimer</button>
	</div>


	<div th:replace="common/header :: body-bottom-scripts"></div>

	<script>
		$(document).ready(
				function() {
					$("#necklaceReadyListTable").DataTable(
							{
								"lengthMenu" : [ [ 5, 10, 15, 20, -1 ],
										[ 5, 10, 15, 20, "All" ] ],
								"ordering" : false,
								stateSave : true
							});
				});
	</script>
</body>
</html>
